<%= stylesheet_link_tag 'host', media: 'all', 'data-turbolinks-track': 'reload' %>

<div
  id="gameinfo"
  quiz_id="<%= @quiz.id %>"
  quiz_name="<%= @quiz.name %>"
  quiz_players="<%= @quiz.quiz_players.includes(:player).to_json(only: [:id, :player_id, :status], methods: [:player_name]) %>"
  quiz_questions="<%= @quiz.questions.to_json %>"
  quiz_rounds="<%= @quiz.rounds.to_json %>"
  play_url="<%= play_quiz_url(@quiz) %>"
></div>
<%= javascript_pack_tag 'host/index' %>
