<p id="notice"><%= notice %></p>

<h1>Quizzes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Questions</th>
      <th>Answers</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quizzes.each do |quiz| %>
      <tr>
        <td><%= quiz.name %></td>
        <td><%= quiz.owner.name %></td>
        <td><%= quiz.questions.count %></td>
        <td><%= quiz.answers.count %></td>
        <td><%= link_to 'Show', admin_quiz_path(quiz) %></td>
        <td><%= link_to 'Edit', edit_admin_quiz_path(quiz) %></td>
        <td><%= link_to 'Destroy', admin_quiz_path(quiz), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quiz', new_admin_quiz_path %>
