<div class="container">
  <div class="title">Pub Quiz</div>

  <div class="hero-container">
    <div class="hero-item" style="text-align: center;">
      <%= image_tag "illustration.png", width: "80%" %>
    </div>
    <div class="hero-item">
      <h2 class="hero-title"><%= t 'home.promote_virtual_quiz' %></h2>
      <span style="color: #a1a1a1; font-weight: 300;"><%= t 'home.have_fun_with_friends' %></span>

      <% if @owned_quizzes.any? %>
        <h3><%= t 'home.my_quizzes' %></h3>
        <div style="display: flex; flex-direction: column; margin-right: 20px;">
          <% @owned_quizzes.each do |quiz| %>
            <div style="display: flex; flex-direction: row; align-items: center; margin-bottom: 5px;">
              <%= link_to quiz.name, quiz, class: 'quiz-button' %> <%= link_to '<svg class="bi bi-trash-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
            </svg>'.html_safe, quiz, method: :delete, class: 'quiz-delete', data: { confirm: I18n.t('home.are_you_sure') } %>
            </div>
          <% end %>
        </div>
      <% end %>

      <%= render 'pages/form', quiz: @quiz %>
    </div>
  </div>

  <div class="footer">
    🧠 2020
  </div>
</div>
