<h1>Pub Quiz</h1>
<p><%= t 'home.create_and_have_fun' %></p>


<% if @owned_quizzes.any? %>
  <h3><%= t 'home.my_quizzes' %></h3>
  <ul>
    <% @owned_quizzes.each do |quiz| %>
      <li><%= link_to quiz.name, quiz %> (<%= link_to I18n.t('home.delete'), quiz, method: :delete, data: { confirm: I18n.t('home.are_you_sure') } %>)</li>
    <% end %>
  </ul>
<% end %>

<%= render 'quizzes/form', quiz: @quiz %>
